<IfModule mod_expires.c>
# Enable expirations
#<Filesmatch "\.(js)$">
#    ExpiresActive On 
#    ExpiresByType application/javascript "access plus 1 year"
#</Filesmatch>

</IfModule>
#        ErrorDocument 404   
        RewriteEngine On
        RewriteRule ^core/([A-Za-z0-9_]+)[.]js$      core/js_storage/$1.php 
        RewriteRule ^action/([-_A-Za-z0-9]+)/$    index.php?action=$1
        RewriteRule ^action/([-_A-Za-z0-9]+)/verify/([a-z0-9]+)/?$    index.php?action=$1&verify=$2